.location_container{

    width: 100%;
    height: 35px;
    text-align: left;
    color: #888;
    line-height: 35px;
    overflow: hidden;
}

.location_container h1{

    margin: 0px;
    white-space: nowrap;
}

.weatherLocation_container{

    width: calc(100% - 20px);
    min-width: 350px;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Roboto', 'sans-serif';
    box-shadow: 1px 2px 7px 0px black;
    margin-bottom: 10px;
    cursor: pointer;
}