.weatherData_container{

    background: rgba(200,200,200,0.5);
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.weatherExtraInfo_container{

    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}

.weatherTemperature_container{

    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature{

    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

.temperatureType{

    font-weight: bold;
    color: #666;
}

.extraInfo_text{

    display: block;
    color: #1535C5;
    font-size: 16px;
    font-weight: bold;
}

.wicon{

    color: orange;
}