.details{

  background: #999;
  height: 90vh;
  width: calc(100% - 40px);
  overflow: auto;
  padding: 0 20px;
}

.LocationListContainer, .detailsContainer{

  padding-left: 0px;
  padding-right: 0px;
}

.bodyContainer{
  padding: 0 20px;
}

@media (max-width: 64em){

  .details{

    height: 40vh;
  }
}